.quoteBackgroundImg{
    background-position: top center;
    background-size: 70px;
}
@media (min-width: 768px) {
    .quoteBackgroundImg{
        background-position-x: 80px;
        background-size: 80px;
    }
}